{erl_opts, [fail_on_warning, debug_info]}.

{cover_enabled, true}.

{clean_files, ["*.eunit", "ebin/*.beam"]}.

{eunit_opts, [verbose,
   {report, {eunit_surefire, [{dir, "."}]}}]}.

{deps, [
    {bcrypt, ".*", {git, "git://github.com/bfrog/erlang-bcrypt.git", "HEAD"}},
    {riakc_pool, ".*",  {git, "git://github.com/bfrog/riakc_pool.git", "HEAD"}}
    ]}.
