{erl_opts, [fail_on_warning, debug_info]}.

{cover_enabled, true}.

{clean_files, ["*.eunit", "ebin/*.beam"]}.

{eunit_opts, [verbose,
   {report, {eunit_surefire, [{dir, "."}]}}]}.

{deps, [
    {riakc, ".*", {git, "git://github.com/basho/riak-erlang-client.git", "HEAD"}},
    {bcrypt, ".*", {git, "git://github.com/bfrog/erlang-bcrypt.git", "HEAD"}},
    {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", "HEAD"}}
    ]}.
